/* pdf viewer dark theme */
/* pdf itself */
html[mozdisallowselectionprint] #viewer {
    filter: invert(1) contrast(75%);
}

/* firefox ui around the pdf */
[mozdisallowselectionprint] > body{
    --main-color: #f5d4b3;
    --body-bg-color: #111;
    --errorWrapper-bg-color: #a33;
    --progressBar-color: #111;
    --scrollbar-color: #111;
    --scrollbar-bg-color: #111;

    --sidebar-bg-color: #111;
    --toolbar-bg-color: #111;
    --toolbar-border-color: #111;
    --button-hover-color: #333;
    --toggled-btn-bg-color: #222;
    --dropdown-btn-bg-color: #111;
    --separator-color: #f5d4b3;
    --field-color: #f5d4b3;
    --field-bg-color: #222;
    --field-border-color: #f5d4b3;
    --findbar-nextprevious-btn-bg-color: #f5d4b3;
    --outline-color: #333;
    --outline-hover-color: #444;
    --outline-active-color: #f5d4b3;
    --outline-active-bg-color: #222;
    --sidebaritem-bg-color: #111;
    --doorhanger-bg-color: #111;
    --doorhanger-border-color: #f5d4b3;
    --doorhanger-hover-color: #333;
    --doorhanger-separator-color: #f5d4b3;
    --overlay-button-bg-color: #111;
    --overlay-button-hover-color: #333;
}

/* home page theme */
@-moz-document url(about:home), url(about:newtab), url(about:privatebrowsing) {
    .click-target-container *, .top-sites-list * {
        color: #fff !important;
        text-shadow: 2px 2px 2px #000 !important;
    }

    body::before {
        content: "";
        z-index: -1;
        position: fixed;
        top: 0;
        left: 0;
        background: #111;
        background-size: cover;
        width: 100vw;
        height: 100vh;
    }

    .logo {
        width: 82px !important;
        height: 82px !important;
        border-radius: 100% !important;
        background-repeat: no-repeat;
        background: url('firefrog-logo.png') !important;
        background-size: 82px !important;
    }

    .wordmark {
        background: url('firefrog-title.png') !important;
        width: 134px !important;
        height: 82px !important;
    }

    .fake-textbox {
        color: #f5d4b3 !important;
	text-align: center !important;
	margin: 0px 40px 0px 0px !important;
    }

    .search-handoff-button {
        box-shadow: none !important;
        fill: #111 !important;
    }

    .fake-editable {
        align: center;
    }

    .search-inner-wrapper > *, .info, #info-body, #private-browsing-myths{
        color: #f5d4b3 !important;
        background: #111 !important;
    }

    body[lwt-newtab-brighttext] {
        --newtab-background-color-secondary: #111 !important;
        --newtab-text-primary-color: #111 !important;
        --newtab-primary-action-background: #f5d4b3  !important;
    }
}

